.component__nav{
	height: 20px;
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

ul li{
	float: left;
	color: black;
}

ul li a{
	text-decoration: none;
	height: 30px;
	padding: 5px 10px;
	border: 1px solid black;
	background: lightgrey;
}

ul li a:visited{
	color: black;
}

ul li a:hover{
	background: orange;
}


ul li a.component__link-selected{
	background: orange;
	border-bottom: none;
}

.component__content{
	clear: both;
	padding: 10px;
	background: orange;
	border: 1px solid black;
}